<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARTA DE ACEPTACIÓN  </title>
  </head>
  <body>
  <center>  <img src="logo.png">
  <img src="tec.png"></center>
<h4><br><p align=right>Instituto Tecnologico de Acapulco
<br>Divición de Estudio de posgrado e Investigación</p></br></h4>

<h4><p align=right> Acapulco, Guerrero, 18/agosto/2023
<br>Oficio No.DEP1/191/2023
<br>ASUNTO: CARTA DE ACEPTACIÓN</p></br></h4>

   <h3>A QUIEN CORRESPONDA
<br>PRECENTE</p></H3></br>

<p align=left>El que suscribe,Jefa de División de Estudio de Posgrado e Investigación de este Instituto Tecnologico de Acapulco,hace CONSTAR que la o el C. CASTILLO ARIAS VERONICA con numero de control M21320005
esta ACEPTADO (A) como estudiante de la Maestria en Sistemas Computacionales del TecNM Campus Acapulco con numero de registro 5418 en el Sistema Nacional de Posgrado antes PNPC en modolidad presencial dado que ha logrado pasar con exito los criterios de seleccion de la convocatoria de nuevo ingreso 2023.</left></p>

<p align=left>Sin otro particular por el momento, me es grato quedar de usted. </p>

<b>ATENTAMENTE</b>
<br>Excelencia  en Educación Tecnológica
<br>"Educación Tecnológica con Compromiso Social"</br>


<br></br>
<br></br>_____________________________
<br><b>JAZMIN CARBAJAL AVILA 
<br>JEFA DE LA DIVISIÓN DE ESTUDIOS
<br>DE POSGRADO E INVESTIGACIÓN</b>

<br></br>
<br>ccp.     Interesado
<br>         Archivo
<br> JCA/sct
<center> <img src="plantilla a.PNG" alt="Image" style="width:800px;height:100px;">
  </body>
</html>